# Common configuration
lxc.include = /usr/share/lxc/config/ubuntu.common.conf

# Container specific configuration
lxc.rootfs = /var/lib/lxc/{{ item.name }}/rootfs
lxc.mount = /var/lib/lxc/{{ item.name }}/fstab
lxc.utsname = {{ item.name }}
lxc.arch = amd64

# Network configuration
{% for interface in item.interfaces %}
# Interface: {{ interface.name }}
lxc.network.type = veth
{% for key, value in interface.iteritems() %}
lxc.network.{{ key|e }} = {{ value|e }}
{% endfor %}

{% endfor %}

