{% extends "base_default.vcl" %}
{% block backends %}
#backends ....
#backend default {
#    .host = "127.0.0.1";
#    .port = "8080";
#}
{% for backend in backends %}

# {{ backend.name }}
backend {{ backend.name }} {
    .host = "{{ backend.host }}";
    .port = "{{ backend.port }}";
}

{% endfor %}
{% endblock %}
{% block http_hosts %}
{% for http_host in http_hosts %}

# {{ http_host.backend }}
    if (req.http.host ~ "^{{ http_host.url }}$")
    {
        set req.http.host = "{{ http_host.url }}";
        set req.backend = {{ http_host.backend }};
    }

{% endfor %}
{% endblock %}
