# Configuration file for varnish
#
# /etc/init.d/varnish expects the variables $DAEMON_OPTS, $NFILES and $MEMLOCK
# to be set from this shell script fragment.
#

START=yes
NFILES=131072
MEMLOCK=82000
DAEMON_OPTS="-a :{{ varnish_tcp_port }} \
             -T localhost:{{ varnish_admin_tcp_port }} \
             -f /etc/varnish/default.vcl \
             -S /etc/varnish/secret \
             -s malloc,256m"
