deb http://{{ repo_hostname }}/{{ repo_uri }}/{{ repo_environment }}/ {{ repo_distribution }} {{ repo_endpoint}}
deb http://{{ repo_hostname }}/{{ repo_uri }}/{{ repo_environment }}-conf/ {{ repo_distribution }} {{ repo_endpoint}}

