# ACMEs
# File installed with ansible
# Datacenter - IRIS 
# $File    : puppet.conf
# $Subject : Puppet Configuration File
# $Author  : INFR Team <infrastructure@acme.com>
# $Date    : 2014.11.25 - 10:45 AM

[main]
certname = {{ inventory_hostname }}
logdir=/var/log/puppet
vardir=/var/lib/puppet
ssldir=/var/lib/puppet/ssl
rundir=/var/run/puppet
factpath=/lib/facter
runinterval = 2700
server = {{ puppetmaster_hostname }}
report = true
pluginsync = true

[agent]
report = true
reports = log
